<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta
		name="keywords"
		content="Elegant Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script type="application/x-javascript">
       addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
       function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!-- //custom-theme  -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- font-awesome icons -->
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="login-form w3_form">
	<!--  Title-->
	<!--	<div class="login-title w3_title">-->
	<!--		<h1>Elegant login Form</h1>-->
	<!--	</div>-->
	<div class="login w3_login">
		<h2 class="login-header w3_header">Register</h2>
		<div class="w3l_grid">
			<form class="login-container" th:action="@{/auth/register}" method="post" th:object="${formRegister}">
				<input type="text" placeholder="FullName" name="fullName" th:field="*{fullName}" />
				<small th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></small>
				<input type="text" placeholder="Phone" name="phone" th:field="*{phone}" />
				<small th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
				<input type="password" placeholder="Password" name="password" th:field="*{password}" />
				<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
				<input type="submit" value="Sign Up" />
			</form>
			<div class="second-section w3_section">
				<div class="bottom-header w3_bottom">
					<h3>OR</h3>
				</div>
			</div>

			<div class="bottom-text w3_bottom_text">
				<p>Has account yet?<a th:href="@{/auth/login}">Signin</a></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>