<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/admin/layout::head">
</head>
<body>
<div class="wrapper">
    <th:block th:replace="/layout/admin/layout::sidebar"></th:block>
    <div class="main">
        <th:block th:replace="/layout/admin/layout::navbar"></th:block>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Address Manager</h3>
                        <nav class="navbar navbar-expand-lg bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                            data-bs-target="#addModal">+
                                        Create new Address
                                    </button>
                                </a>
                                <form th:action="@{'/admin/address'}" class="d-flex" role="search">
                                    <input type="hidden" name="page" th:value="${page}">
                                    <input type="hidden" name="size" th:value="${size}">
                                    <input class="form-control me-2 fst-italic" type="search"
                                           th:value="${search}"
                                           name="search"
                                           placeholder="Enter user's name... "
                                           aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="a,loop:${address}">
                                <td th:text="${page * size + loop.count}"></td>
                                <td th:text="${a.address}"></td>
                                <td th:text="${a.status ? 'Hiện thị':'Ẩn'}"></td>
                                <td>
                                    <th:block th:if="${a.status}">
                                        <a class="btn btn-danger" th:href="@{'/admin/address/'+${a.id}+'/status'}">
                                            <i class="fa-solid fa-lock"></i>
                                        </a>
                                    </th:block>
                                    <th:block th:unless="${a.status}">
                                        <a class="btn btn-primary" th:href="@{'/admin/address/'+${a.id}+'/status'}">
                                            <i class="fa-solid fa-lock-open"></i>
                                        </a>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav th:if="${totalPages > 0}" aria-label="Page navigation example ">
                        <ul class="pagination float-end mx-4">
                            <!-- button previous -->
                            <li th:class="${page == 0 ?'page-item disabled':'page-item'}">
                                <a class="page-link"
                                   th:href="@{'/admin/address?page='+${page - 1}+'&search='+${search}}">Previous</a>
                            </li>
                            <!-- button number -->
                            <th:block th:each="number : ${#numbers.sequence(1,totalPages)}">
                                <li th:class="${number == (page+1) ? 'page-item active':'page-item'}"><a
                                        class="page-link"
                                        th:href="@{'/admin/address?page='+${number - 1}+'&search='+${search}}"
                                        th:text="${number}"></a></li>
                            </th:block>
                            <!-- button next -->
                            <li th:class="${(page+1) == totalPages ?'page-item disabled':'page-item'}">
                                <a class="page-link"
                                   th:href="@{'/admin/address?page='+${page + 1}+'&search='+${search}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.card-body -->
                </div>

            </div>
        </main>
        <th:block th:replace="/layout/admin/layout::footer"></th:block>
    </div>
</div>

<th:block th:replace="/layout/admin/layout::script"></th:block>

</body>
</html>